# ========================================================
# CloudServices - Docker Environment Variables
# ========================================================

# Database Credentials
SA_PASSWORD=CloudServices@2026!

# Backend Secrets & Settings
JWT_SECRET=SuperSecretKeyForCloudServicesProject2026!@#$
DOMAIN=http://localhost:8080
FRONTEND_URL=http://localhost:3000

# PayOS Payment Gateway
PAYOS_CLIENT_ID=076b1838-a54d-42b0-8e98-376eb33f892a
PAYOS_API_KEY=cb718cbd-d55d-4575-90c9-5825e13e6b2c
PAYOS_CHECKSUM_KEY=cf8acffb4b53af755fb60f1b0703f2667dc5d8c7f78c8f2e345f63e18c9761fe

# Email Service (Resend)
RESEND_API_KEY=
RESEND_SENDER=onboarding@resend.dev

# Frontend Settings
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_TINYMCE_API_KEY=lo22j7heipnhkk80mk7x7bqk9ibuus8tz5gqz145z52ymorj
AUTH_SECRET=e4f95d4e244405a2588f95d36854429a77e6299e1d6ab520e804c5d7d594ec86
AUTH_URL=http://localhost:3000
